NODE_ENV=production
PORT=3000

BASE_URL=https://domainkamu.com
CANONICAL_DOMAIN=domainkamu.com

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=videy_local
DB_USER=root
DB_PASS=

SESSION_SECRET=ubah_ini_panjang_random

# Admin route disembunyikan seperti videy (bukan /admin)
ADMIN_PATH=/panel-7f3a9c

# Upload
MAX_UPLOAD_MB=400
UPLOAD_DIR=./uploads/videos

# Security
TRUST_PROXY=1
